.modalOverlay {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.6);

  visibility: hidden;
  opacity: 0;
}

.modalOverlayVisible {
  composes: modalOverlay;
  visibility: visible;
  opacity: 1;
}
